<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Mes articles</title>
	<link rel="stylesheet" href="../static/css/bootstrap.min.css"
							th:href="@{css/bootstrap.min.css}">
  
</head>

<body>

	<div class = "container border py-3 my-3">
		<div class = "panel panel-primary">
			<div class = "panel-heading bg-primary text-white border py-3">Liste des articles</div> <br>
			<div class = "panel-body">

				<table class="table">
        			<tr>
        				<th>Id</th> 
            			<th>Description</th> 
            			<th>Price</th>
        			</tr>

        			<tr th:each="a:${listArticle}">
            			<td th:text="${a.id}"> </td>
            			<td th:text="${a.description}"> </td>
           				<td th:text="${a.price}"> </td>
        			</tr>
				</table>
			</div>
		</div>
	</div>
</body>

</html>